<h1>Eduardo Sebastian</h1>
<img src="http://placekitten.com/g/200/200" />
<h2>Building a simple Ruby/Sinatra site, for fun</h2>
<p>Coding is fun, and I absolutely love fun stuff!</p>
<a href="/read_more">Read more!</a>