<div class="profile">
  <h1>Eduardo Sebastian</h1>
  <img src="selfie.jpg" />
  <h2>Building a simple Ruby/Sinatra site, for fun</h2>
  <p>Coding is fun, and I absolutely love fun stuff!</p>
  <a href="/read_more">Read more!</a>
</div>
<img src="http://placekitten.com/g/50/50" />
